<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Agrega los archivos CSS y JavaScript de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Agrega el archivo CSS personalizado si lo deseas -->
</head>
<body>
    <div class="container">
        <h1>Lista de Posts</h1>
        <ul class="list-group">
            <!-- Agrega un bucle para mostrar cada post -->
            <% posts.forEach(post => { %>
                <li class="list-group-item">
                    <h3><%= post.titulo %></h3>
                    <p><%= post.contenido %></p>
                    <!-- Agrega la imagen si hay una URL de imagen -->
                    <% if (post.imagenURL) { %>
                        <img src="<%= post.imagenURL %>" alt="Imagen del post" class="img-fluid">
                    <% } %>
                    <p>Fecha de creación: <%= post.FechaCreacion %></p>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
<!-- Agrega los archivos CSS de Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Agrega los archivos JavaScript de Bootstrap (jQuery y Popper.js son requeridos) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>